@import "tailwindcss";


* {
  border: red 1px soli;
}
body {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: normal;
  font-style: normal;
  
}


@theme {
  --color-accent: #E5F066;
  --color-primary: #2E2E38;
  --color-light: #F1F1F1;
  --color-background: #1B1B1B;
}


h1 {
  @apply text-[4rem] font-extrabold 
}

p {
  @apply text-[1rem]
}

.error {
  @apply text-red-500
}

.highlight {
  font-weight: 600;
}