.rizzui-input-container, .rizzui-password-container {
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    border-radius: 16px;
}

.rizzui-password-toggle-icon {
    cursor: pointer;
}